{% extends "layout.html" %}

{% block title %}
  Book Information
{% endblock %}

{% block body %}
<form class="form-group" action="/search" method="POST">
  <input class="form-control" type="text" name="search" placeholder="Search with book's ISBN number, Author or Title" autofocus>
  <button class="btn btn-secondary form-control" type="submit">SEARCH</button>
</form>
<div class="container p-5">
  <ul>
    <li>{{  book.isbn  }}</li>
    <li>{{  book.title  }}</li>
    <li>{{  book.author  }}</li>
    <li>{{  book.year  }}</li>
    <li>{{  averadgeRating  }}</li>
  </ul>
  <ul>reviews of the page
    {% for r in reviews %}
      <li>{{ r[0] }}</li>
    {% endfor %}
  </ul>
</div>

<div>
  <div>
    <form action="{{ url_for('bookInfo', isbn = book.isbn) }}" method="POST">
      <input type="text" name="review" placeholder="Write your own review">
      <input type="text" name="rating" placeholder="rating">

      <button>Submit a Review</button>
    </form>
  </div>
  
</div>
{% endblock %}