{% extends "layout.html" %}

{% block title %}
  Book Information
{% endblock %}

{% block body %}
<div class="ui divider"></div>
<div class="ui grid">
  <div class="eight wide column">
      <div class="ui items">
          <div class="item">
            <div class="image">
              <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
            </div>
            <div class="content">
              <a class="header">{{book.title}}</a>
              <div class="meta">
                <span>{{book.author}}</span>
              </div>
              <div class="description">
                <div class="ui divider"></div>
                  <div class="ui list">
                      <div class="item">
                          Book ISBN: {{  book.isbn }}
                      </div>
                      <div class="item">
                          Year of publishin: {{  book.year  }}
                      </div>
                      <div class="item">
                          Averadge Rating: {{  averadgeRating  }}
                      </div>
                      <div class="item">
                          Total review count: {{  reviewCount  }}
                      </div>
                    </div>
              </div>
              
            </div>
          </div>
          
        </div>
  </div>

  <div class="eight wide column">
      <form class="ui form" action="{{ url_for('bookInfo', isbn = book.isbn) }}" method="POST">
          
          <div class="field">
              <label for="exampleFormControlTextarea1">Write Your Review Here:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
          </div>
          <div class="field">
            <label for="exampleFormControlSelect1">Choose your rating:</label>
            <select id="exampleFormControlSelect1" name="rating" class="ui fluid dropdown" placeholder="Choose the rating ">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <button class="fluid ui olive button type="submit">Submit a Review</button>
        </form>
  </div>
</div>

<div class="ui segment">
    <div class="ui comments">
      {%  for r in reviews  %}
        <div class="comment">
          <a class="avatar">
            <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
          </a>
          <div class="content">
            <a class="author">{{ r[1] }}</a>
            <div class="metadata">
              <div class="date">2 days ago </div>
              <div class="rating">
                <i class="star icon"></i>
                {{ r[2]}}
              </div>
            </div>
            <div class="text">
                {{  r[0]  }}               
              </div>
            </div>
          </div>
          {%  endfor  %}
      </div>
</div>
  
 
{% endblock %}