<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="../static/semantic/semantic.min.js"></script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="ui stackable menu">
        <div class="item">
            <img src=''>LOGO
        </div>
        <a class="item" href="/">BookReiews</a>

        <!-- add content for testimonials -->
        <a class="item">Testimonials</a>

        <!-- add content for contact -->

        <a class="item">Contac Us</a> 
        <div class="right menu">
            <a class="item">Help</a>
            <!-- if user is logged in the right top conrner will display users name and log out button -->
            {% if session.user %}
                <a class="item" href="/">{{ session["user"][0] }}</a>
                <a class="item" href="/logout">Log Out</a>              
            {% endif %}
        </div>
    </div>
  
    <main class="ui container">
        <!-- The search tab has to appear everywhere as long as user is logged in -->
        {% if session.user %}
        <div>

            <form class="ui fluid huge icon input" action="/search" method="POST">
                <input type="text" name="search" placeholder="Search with book's ISBN number, Author or Title" autofocus>
                <i class="inverted circular search link icon"></i>
            </form>
        </div>
        {% endif %}
        
      {% block body %}

      {% endblock %}
    </main>
    
  </body>
</html>
