{% extends "layout.html" %}

{% block title %}
  Results
{% endblock %}

{% block body %}

<div class="ui link items">
  {% for book in bookList %}
    <a class="item" href="{{ url_for('bookInfo', isbn = book.isbn) }}">
      <div class="ui tiny image">
        <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
      </div>
      <div class="content">
        <div class="header">{{ book.title }}</div>
        <div class="extra">
            Additional Details
          </div>
        <div class="description">
          <p> <b>The Author: </b>{{ book.author }}</p>
          <p> <b>The ISBN number of the book: </b> {{ book.isbn }}</h2>
          <p class="right floated"> <b><b>Published in:</b> </b>{{ book.year }}</p>
        </div>
   
      </div>
    </a>
    <div class="ui divider"></div>
  {% endfor %}
</div>


{% endblock %}